.pagination-name{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.pagination-container{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: calc(100% - 70px);
    user-select: none;
}

.element-pagination{
    min-width: 150px;
    height: 200px;
    background-color: rgb(22, 22, 22);
}
.element-pagination *{
    background-color: transparent;
}

.pagination-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 14px;
    padding-bottom: 10px;
}
.pagination-button *{
    width: 40px;
    height: 40px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    font-size: 16px;
}
.pagination-button *:hover{
    background-color: gold;
    color: black;
}
.active{
    background-color: gold;
    color: black;
}

@media (max-width: 1200px) {
}
@media (max-width: 1440px){
    .pagination-container, .pagination-name{
        margin-left: 16px;
    }
    .pagination-container{
        width: calc(100% - 25px);
    }
}